<section class="top-footer d-flex justify-content-center py-4 border-bottom border-top">
<div class="me-5 d-none d-lg-block">
  <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم. شماره تلفن: <a href="tel:=+989123456789">09123456789</a> آدرس ایمیل: <a href="mailto:info@ngshop.com">info@ngshop.com</a></span>
</div>
</section>
<footer class="text-center text-lg-start bg-white">
    <section class="">
      <div class="container mt-5">
        <div class="row mt-3">
          <div class="col-md-6 text-right about mb-4">
            <h6 class="fw-bold mb-4">
                فروشگاه اینترنتی انگولار
            </h6>
            <p class="text-justifuy">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
          </div>
         
          <div class="col-md-3 footer-menu text-right mx-auto mb-md-0 mb-4">
            <h6 class="fw-bold mb-4">
             خدمات مشتریان
            </h6>
            <p> پاسخ به پرسش‌های متداول</p>
            <p>رویه‌های بازگرداندن کالا</p>
            <p>شرایط استفاده</p>
            <p>حریم خصوصی</p>
            <p>گزارش باگ</p>
          </div>

          <div class="col-md-3 text-right nemads mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
             نماد ها
            </h6>
                <img src="assets/imgs/nemad/samandehi.png" class="nemad">
                <img src="assets/imgs/nemad/star1.png" class="nemad">
            
          </div>
        
        </div>
      </div>
    </section>
    <hr>
    <div class="copyright text-center py-2">
        <p> کلیه حقوق این سایت متعلق به فروشگاه انگولار می ‌باشد. -  Copyright © 2006 - 2022</p>
    </div>
  </footer>